<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Saved import bill</title>
    <link rel="stylesheet"
          href="../../../../static/css/tmp23.css"
          th:href="@{/css/tmp23.css}"/>
</head>
<body>
<div class="navbar-cover">
    <nav class="navbar">
        <a class="navbar-brand" href="#">Supplier Statistic</a>
    </nav>
</div>

<h1>Stat Detail</h1>
<div class="receipt-info">
    <div class="receipt-info left">
        <ul>
            <li><b>Supplier</b>:<span th:text="${supplier.name}"></span></li>
            <li><b>Phone number</b>:<span th:text="${supplier.phoneNumber}"></span></li>
            <li><b>Stat by product</b>:<span th:text="${product.name}"></span></li>
        </ul>
    </div>
</div>
<div class="container">
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Bill's ID</div>
            <div class="col col-2">Quantity</div>
            <div class="col col-3">Unit price ($)</div>
            <div class="col col-4">Time</div>
        </li>
        <li class="table-row" th:each="detail : ${details}">
            <div class="col col-1">
                <span th:utext="${detail.importBill.id}">Demo</span>
            </div>
            <div class="col col-2">
                <span th:utext="${detail.quantity}">Demo</span>
            </div>
            <div class="col col-3">
                <span th:utext="${detail.unitPrice}">Demo</span>
            </div>
            <div class="col col-4">
                <span th:utext="${detail.importBill.createdTime}">Demo</span>
            </div>
        </li>
        <li class="table-footer">
<!--            <div class="col col-footer">Imported amount: <span th:text="${stat.totalQuantity()}"></span></div>-->
        </li>
    </ul>
</div>

</body>
</html>