@import url("https://fonts.googleapis.com/css?family=Jost");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost';
}

body {
    background-color: #080D19;
}

.button {
    position: relative;
    cursor: pointer;

    display: inline-block;
    font-family: "Jost";
    font-size: 1.2em;
    border-radius: 10px;

    background-color: transparent;
    color: #D9D9D9;
    border: 2px solid #D9D9D9;

    width: auto;
    height: 50px;
}

.navbar-left,
.navbar-right {
    display: inline-block;
}

.navbar-cover {
    height: 100px;
    margin-top: -40px;
    background: #2F0092;
    border-radius: 40px;
}

.navbar-brand {
    text-decoration: none;
    position: absolute;
    height: 60px;
    left: 100px;
    margin-top: 40px;

    font-weight: bold;
    font-style: normal;
    font-size: 40px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #D9D9D9;
}

.button.logout {
    margin-top: 50px;
    width: 150px;
    height: 40px;
    left: 85%;
}

.button:hover {
    background-color: #4100cc;
}

.button:active {
    background-color: #23006e;
}

/* form {
    color: #D9D9D9;
    width: 900px;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
} */

input[type="search"] {
    border: none;
    background: #D9D9D9;
    margin: 0;
    width: 800px;
    height: 45px;
    padding: 7px 8px;
    font-size: 20px;
    color: inherit;
    border: 1px solid transparent;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

.nosubmit input{
    margin-top: 30px;
    border: 0px solid;
    border-radius: 10px;
    width: 100%;
    padding: 9px 4px 9px 40px;
    background: #D9D9D9 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
hr {
    width: 80%;
    height: 2px;
    background: #D9D9D9;
    margin: auto;
    margin-top: 30px;
    /* margin-bottom: 10px; */
}
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.responsive-table li {
    border-radius: 20px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.table-header {
    background-color: #2F0092;
    font-size: 24px;
    font-weight: bold;
    color: #D9D9D9;
    letter-spacing: 0.03em;
}

.table-row {
    background-color: #D9D9D9;
    font-size: 24px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.table-footer {
    background-color: #2F0092;
    font-size: 24px;
    font-weight: bold;
    color: #D9D9D9;
    letter-spacing: 0.03em;
}

.col-footer {
    text-align: center;
    flex-basis: 100%;
}

.col-1 {
    text-align: center;
    flex-basis: 25%;
}

.col-2 {
    text-align: center;
    flex-basis: 25%;
}

.col-3 {
    text-align: center;
    flex-basis: 25%;
}

.col-4 {
    text-align: center;
    flex-basis: 20%;
}

@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }

    .table-row li {
        display: block;
    }

    .table-row.col {
        flex-basis: 100%;
    }

    .table-row.col {
        display: flex;
        padding: 10px 0;
    }

    .table-row:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

.page-body {
    display: flex;
}

.left{
    margin-top: 50px;
    margin-left: 7%;
    margin-right: 100px;
    width: 25%;
    height: 630px;
    border: 2px solid #D9D9D9;
    border-radius: 20px;
}
.right{
    margin-top: 50px;
    width: 55%;
    position: relative;
}
.receipt{
    width: 100%;
    height: 550px;
}
.actions{
    width: 97%;
    height: 60px;
}
.supplier{
    margin-left: 5%;
    margin-right: 5%;
}
.product{
    margin-left: 5%;
    margin-right: 5%;
}

.product.container{
    /* margin-left: -3%; */
    font-size: 24px;
    padding: 0;
    margin-left: 5%;
}
.product.container span{
    color: #D9D9D9;
}
.product.container input{
    margin-top: 5%;
    margin-right: 0;
    height: 45px;
    border-color: transparent;
    border-radius: 10px;
    background: #D9D9D9;
    font-size: 24px;
}
.product.quantity{
    width: 59%;
}
.product.price{
    width: 50%;
    margin-bottom: 5%;
}
.button.add{
    font-size: 24px;
    margin-left: 5%;
    width: 90%;
    height: 60px;
}

.button.link{
    width: 90%;
    height: 60px;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    margin-left: 5%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.actions form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button.action{
    width: 90%;
    height: 60px;
    font-size: 24px;
}
.selected-supplier span{
    font-size: 28px;
    font-weight: bolder;
    color: #D9D9D9;
}
.container.table{
    margin-top: 20px;
}

.dropdown-content {
    position: absolute;
    background-color: #D9D9D9;
    min-width: 340px;
    border: 0px solid transparent;
    border-radius: 10px;
    z-index: 1;
    overflow:scroll;
    max-height:150px
}
.dropdown-menu{
    width: 90%;
    margin-left: 5%;
}
.select{
    width: 100%;
    height: 45px;
    border-color: transparent;
    display: flex;
    font-size: 20px;
    flex-basis: 100%;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    background: white;
}
.select:hover{
    background-color: #ddd;
}

.sub-div{
    width: 50%;
    height: 100%;
    float: left;
}
.sub-div:first-child{
    border-right: 1px solid lightgray;
}
.search-field {
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    /*background-image: url('searchicon.png');*/
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}
.search-field:focus {outline: 3px solid #ddd;}

.choose-button {
    align-self: center;
    display: inline-block;
    margin-top: 30px;
    border: 0px solid;
    border-radius: 10px;
    width: 90%;
    height: 50px;
    padding: 8px 16px 8px 16px;
    background: white;
    cursor: pointer;
    margin-left: 5%;
    font-size: 20px;
}