@import url("https://fonts.googleapis.com/css?family=Jost");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost';
}

body {
    background-color: #080D19;
}

.button {
    position: relative;
    cursor: pointer;

    display: inline-block;
    font-family: "Jost";
    font-size: 1.2em;
    border-radius: 10px;

    background-color: transparent;
    color: #D9D9D9;
    border: 2px solid #D9D9D9;

    width: auto;
    height: 50px;
}

.navbar-left,
.navbar-right {
    display: inline-block;
}

.navbar-cover {
    height: 100px;
    margin-top: -40px;
    background: #2F0092;
    border-radius: 40px;
}

.navbar-brand {
    text-decoration: none;
    position: absolute;
    height: 60px;
    left: 100px;
    margin-top: 40px;

    font-weight: bold;
    font-style: normal;
    font-size: 40px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #D9D9D9;
}

.button.logout {
    margin-top: 50px;
    width: 150px;
    height: 40px;
    left: 85%;
}

.button:hover {
    background-color: #4100cc;
}

.button:active {
    background-color: #23006e;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.responsive-table li {
    border-radius: 20px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.table-header {
    background-color: #2F0092;
    font-size: 24px;
    font-weight: bold;
    color: #D9D9D9;
    letter-spacing: 0.03em;
}

.table-row {
    background-color: #D9D9D9;
    font-size: 24px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.table-footer {
    background-color: #2F0092;
    font-size: 24px;
    font-weight: bold;
    color: #D9D9D9;
    letter-spacing: 0.03em;
}

.col-footer {
    text-align: center;
    flex-basis: 100%;
}
.col-1 {
    text-align: center;
    flex-basis: 20%;
}

.col-2 {
    text-align: center;
    flex-basis: 25%;
}

.col-3 {
    text-align: center;
    flex-basis: 25%;
}

.col-4 {
    text-align: center;
    flex-basis: 30%;
}

@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }

    .table-row li {
        display: block;
    }

    .table-row.col {
        flex-basis: 100%;
    }

    .table-row.col {
        display: flex;
        padding: 10px 0;
    }

    .table-row:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

h1{
    color: #D9D9D9;
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

.receipt-info{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    margin-bottom: 20px;
    display: flex;
}
.receipt-info ul{
    width: 100%;
}
.receipt-info li{
    color: #D9D9D9;
    font-size: 24px;
    width: 100%;
}
.receipt-info.left{
    margin: 0;
    width: 90%;
}
.receipt-info.right{
    margin: 0;
    width: 10%;
    align-items: center;
    justify-content: right;
}
.receipt-info.right img{
    width: 100%;
    cursor: pointer;
}

.button.link{
    margin-left: 18%;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 60px;
}