.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;   
}

.add-product{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    padding: 10px;
}

.add-product div{
    margin-bottom: 10px;
}

.column{
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.field-input{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input{
    height: 30px;
}

#decription{
    height: 80px;
}

.custom-file-input{
    height: 50px;
}

#file-input{
}

.submit{
    box-sizing: border-box;
    height: 30px;
    width: 100% - 20px;
}